* {
	color: White;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-image: url(img/bak.jpg);
	background-size: 100%;
	background-repeat: repeat;
}

.headermain {
	width: 100%;
}

input[type=submit]{
  color: black;
}

.bigboi {
	text-align: center;
}

.bigbrother {

}

.headerlinker {
  display: inline-block;
  padding: 3%;
  text-align: center;
  font-weight: bold;
}

.stylelink:link {
  color: White;
  background-color: transparent;
  text-decoration: none;
}

.stylelink:visited {
  color: White;
  background-color: transparent;
  text-decoration: none;
}

.stylelink:active {
  color: White;
  background-color: transparent;
  text-decoration: underline;
}

.firstheader {
	width: 100%;
	color: White;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

.perkhoved {
 	width: 100%;
 	color: White;
 	font-weight: bold;
 	margin-left: 0 auto;
 	text-align: center;
}

.perkparent {
  text-align: center;
  position: relative;
}

.perkoverskrift {
	text-align: center;
}

.perkbilde {
  max-width: 100%;
  display: inline;
  border: 5px solid white;
}

.perktekst {
	max-width: 40%;
  text-align: center;
  margin-left: 30%;
}

footer {
	position: relative;
	justify-content: center;
 	align-items: center;
 	height: 10%;
}

.footerparent {
	margin-left: 40%;
}

.footerbilde {
  display: inline-flex;
  max-width: 5%;
  padding: 3%;
}

.socialpic {
	width: 100%;
}

.button { /* Green */
  border: none;
  color: Black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}
